* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background-color: #fafafa;
	color: #333;
	font-family: 'Open Sans', Arial, sans-serif;
}



/* ----- Header ----- */

header {
	background-color: #111111;
	color: #fff;
	width: 100%;
}

.top-nav {
	padding: 10px 0;
	border-bottom: #363636 solid 1px;
}

.mobile-nav {
	display: inline-block;
	float: right;
	margin-right: 10px;
}

.logo {
	display: inline-block;
	float: left;
	margin-left: 25px;
	line-height: 30px;
}

.logo a {
	color: #fff;
	text-decoration: none;
}

.logo h1 {
	font-size: 1.5rem;
}

.mobile-nav {
	margin-right: 25px;
}

.mobile-nav-img {
	margin-top: 2px; 
	width: 30px;
}

.navigation {
	display: none;
}

.nav-links {
	text-align: center;
}

.navigation li {
	border-bottom: #363636 solid 1px;
}

.navigation a {
	display: block;
	color: #fff;
	padding: 10px;
	text-decoration: none;
}

#selected {
	color: #666666;
}



/* ----- Content ----- */

.pokemon {
	text-align: center;
	width: 275px;
	background-color: #fff;
	box-shadow: 0 1px 5px rgba(0,0,0,.2);
	border-radius: 2px;
	padding: 10px 35px;
	margin: 10px;
}

.pokemon h1, 
.pokemon h2, 
.pokemon h3 {
	font-weight: bold;
}

.pokemon h1 {
	text-transform: uppercase;
	font-size: 1.5em;
	color: #111111;
	border-bottom: 1px solid #eee;
	padding: 5px;
	margin: 10px 0;
}

.pokemon h2 {
	font-size: 1.25em;
	color: #111111;
	margin: 0;
}

.pokemon h3 {
	text-transform: uppercase;
	font-size: .875em;
	color: #111111;
	margin: 0;
}

.pokemon img {
	width: 150px;
}

.pokemon ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0;
}

.pokemon li {
	font-family: Arial;
	font-size: .75em;
	line-height: 1.75em;
}

#filter-form {
	width: 275px;
	box-shadow: 0 1px 5px rgba(0,0,0,.2);
	border-radius: 2px;
	margin: 15px 10px 10px;
}

#content {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

.search {
	padding: 0;
}

.filter {
	width: 100%;
	padding: 10px 25px;
	border: none;
	font-size: 1.25em;
	text-align: center;
}

.type li {
	flex-grow: 1;
	flex-basis: calc(50% - 5px);
	border-radius: 2px;
	margin: 2.5px;
}

.weaknesses li {
	flex-grow: 1;
	flex-basis: calc(33% - 5px);
	border-radius: 2px;
	margin: 2.5px;
}



/* ----- Footer ----- */

footer {
	display: block;
	background: #f5f5f5;
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
	text-align: center;
	width: 100%;
}

footer p {
	padding: 25px 0px;
}

.bottom {
	position:absolute;
	bottom: -66px;
}

.sticky-footer {
  min-height: 100%;
  /* equal to footer height */
	margin-bottom: -66px; 
}
.sticky-footer:after {
  content: "";
  display: block;
}
.site-footer, .sticky-footer:after {
  /* .push must be the same height as footer */
	height: 66px; 
}



/* ----- Generic ----- */

.clearfix:after {
    content:" ";
    display:table;
    clear:both;
}

.flex {
	display: flex;
	flex-direction: column;
	align-items: center;
}



/* ----- To Top Button ----- */

#button {
	display: none;
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 1;
}

.button-link {
	display: block;
	text-align: center;
	width: 30px;
	height: 30px;
	border-radius: 2px;
	background: #111111;
	opacity: .8;
}

.button-link:hover {
	opacity: 1;
}

.button-link img {
	width: 15px;
	margin-top: 5px;
}



/* ----- Types & Weaknesses ----- */

.grass {
    background-color: #9bcc50;
    color: #212121;
}

.poison {
    background-color: #b97fc9;
    color: #fff;
}

.fire {
    background-color: #fd7d24;
    color: #fff;
}

.normal {
    background-color: #a4acaf;
    color: #212121;
}

.flying {
    background-color: #98f4ff;
    color: #212121;
}

.dragon {
    background-color: #f16e57;
    color: #fff;
}

.ice {
    background-color: #51c4e7;
    color: #212121;
}

.water {
    background-color: #4592c4;
    color: #fff;
}

.bug {
    background-color: #729f3f;
    color: #fff;
}

.psychic {
    background-color: #f366b9;
    color: #fff;
}

.dark {
    background-color: #707070;
    color: #fff;
}

.steel {
    background-color: #9eb7b8;
    color: #212121;
}

.ground {
    background-color: #e8d178;
    color: #212121;
}

.rock {
    background-color: #a38c21;
    color: #fff;
}

.electric {
    background-color: #eed535;
    color: #212121;
}

.fighting {
    background-color: #d56723;
    color: #fff;
}

.fairy {
    background-color: #fdb9e9;
    color: #212121;
}

.ghost {
    background-color: #7b62a3;
    color: #fff;
}



/* ----- Media Queries ----- */

@media (min-width: 569px) {
	
	header .wrapper{
		display: flex;
		align-items: center;
	}

	.mobile-nav {
		display: none;
	}
	.navigation {
		display: block;
		margin-left: auto;
	}

	.logo {
		margin-left: 25px;
	}

	.nav-links {
		display: flex;
		margin-right: 25px;
	}

	.nav-links a:hover {
		color: #666666;
	}

	.navigation li {
		border-bottom: none;
	}
	
	.pokemon {
		flex-basis: calc(50%-40px);
	}
}

@media (min-width: 607px) {
	#filter-form {
		width: 570px;
	}

	.button-link {
	width: 45px;
	height: 45px;
	}

	.button-link img {
	margin-top: 15px;
	}
}

@media (min-width: 902px) {
	#filter-form {
		width: 865px;
	}
}

@media (min-width: 1197px) {
	#filter-form {
		width: 1160px;
	}
}

@media (min-width: 1200px) {
	.wrapper {
		max-width: 1200px;
		margin: 0 auto;
	}

}

